//down dropdown start ========================
.f-dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.f-dropdown {
    position: relative;
    display: inline-block;
}

.f-dropdown-content {
    padding: 6px;
    display: none;
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fdfdfd;
    min-width: 200px;
    width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.061);
    z-index: 1;
    border-radius: 16px;
}

.f-dropdown-content li {
    color: black;
    padding: 7px 16px;
    text-decoration: none;
    display: block;
    border-radius: 16px;
}

.f-dropdown-content li:hover {
    background-color: rgb(235, 234, 234);
    // border: 3px solid #9750DD;
}

.f-dropdown:hover .f-dropdown-content {
    display: block;
}

//down dropdown end ========================


//right dropdown start ========================
.r-dropbtn {
    color: white;
    // padding: 16px;
    font-size: 16px;
    border: none;
}

.r-dropdown {
    position: relative;
    display: inline-block;
}

.r-dropdown-content {
    padding: 6px;
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #fdfdfd;
    min-width: 200px;
    width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.061);
    z-index: 1;
    border-radius: 16px;
}

.r-dropdown-content li {
    color: black;
    padding: 7px 16px;
    text-decoration: none;
    display: block;
    border-radius: 16px;
}

.r-dropdown-content li:hover {
    background-color: rgb(235, 234, 234);
    // border: 3px solid #9750DD;
}

.r-dropdown:hover .r-dropdown-content {
    display: block;
}

//right dropdown end ========================